<!-- <p>location works!</p> -->
<form [formGroup]="locationForm" (ngSubmit)="addlocation()">
    <h2>Locations</h2>
    <input type="text" placeholder="Enter location" class="inp" formControlName="city"/>
    <div class="btns">
    <!-- <button (click)="goToLogin()">Add Location</button> -->
    <button [disabled]="!locationForm.valid">Add Location</button>
    </div>
</form>
<!-- <button (click)="getAllLocations()">Get all locations</button> -->
<ul *ngFor="let list of locationList">
    <li>{{list._id}} : {{ list.city }}</li>
</ul>