<p>locmov works!</p>
<!-- <h1>book works!</h1> -->
<div class="wrapper">
    
    
    <div class="block">
        <!-- <h1>Movie Booking Application</h1> -->
        <h3>Book Tickets</h3>
        <form [formGroup]="bookForm" (ngSubmit)="show()">
           <!-- <div class="com"> -->
               <label for="location">Location</label>  
            <select id="location" formControlName="location" class="inp" (change)='onChangeLocation()' >  
                <option disabled>Select Location</option>  
                <option>Choose Location</option>  
                <option *ngFor="let loc of locationList">{{loc}}</option>  
            </select>  
        <!-- </div> -->
           

            <label for="movie">Movie</label>  
            <select id="movie" formControlName="movie" class="inp" (change)='onChangeMovie()'>  
                <option disabled>Select Movie</option>  
                <option>Choose Movie</option>  
                <option *ngFor="let mov of movieList">{{mov}}</option>  
            </select>

            <label for="cinema">Theatre</label>  
            <select id="cinema" formControlName="cinema" class="inp" (change)='onChangeCinema()'>  
                <option disabled>Select Theatre</option>  
                <option>Choose Theatre</option>  
                <option *ngFor="let cin of cinemaList">{{cin}}</option>  
            </select>

            <label for="show">Show</label>  
            <select id="show" formControlName="show" class="inp">  
                <option disabled>Select Show</option>  
                <!-- <option>Choose Show</option>   -->
                <option *ngFor="let sh of showList" value={{sh.id}}>{{sh.showtime}}</option>  
            </select>
            <!-- <h1>List</h1> -->
            <!-- <ul *ngFor="let list of result">

            <li>Theatre: {{ list.cinema }}
            Show: {{ list.showtime }}
            <button [routerLink]="/select" [queryParams]="{cinemaId:list.cinemaId,showId:list._id}">Book</button>
        </li>
            </ul> -->
            <!-- <p>{{result}}</p> -->
           <div class="btns">
           <button [disabled]="!bookForm.valid" >Show Seats</button>
           <!-- <button (click)="goToRegister()">SIGN UP</button> -->
           </div>
           <!-- <a href="" class="forgot">Forgot Password</a> -->
       </form>

    </div>
</div>
