<p>seats works!</p>

<p>{{seats}}</p>
<p>Total seats: {{total}}</p>
<p>Available seats: {{seatAvailable}}</p>
<p>reserved seats: {{reservedSeats}}</p>
<div class="container-fluid">
    <div style="width: 100px; margin: 20px auto; display: block;">
        <span [ngClass]="{'seat-disabled': true}">reserved</span>
        <span [ngClass]="{'seat-selected': true}">selected</span>
        <span [ngClass]="{'seat-select':true}">available</span>
    </div>
<table>
    <tr *ngFor="let row of rows;let i=index">
        <td *ngFor="let seat of row;let j=index">
            <div [ngClass]="{'seat-select': checkSeatStatus(seat,i,j),'seat-selected':!checkSeatStatus(seat,i,j),'seat-disabled':isSeatReserved(seat,i,j)}"
            (click)="seatSelect(seat,i,j)"></div>
            <!--  -->
        </td>
    </tr>
    <tr><h2>Screen</h2></tr>
</table>

<button (click)="openDialog()" id="submitButton">Book Seats</button>

</div>
<!-- <div class="container-fluid">
    <table>
        <tr *ngFor="let row of rows">
            <td *ngFor="let seat of seats">
                <div [ngClass]="{'seat-select': !checkSeatStatus(row+''+seat), 'seat-selected':checkSeatStatus(row+''+seat), 'seat-disabled':isSeatReserved(row+''+seat)}"
                    (click)="seatSelect(row+''+seat)">{{row+''+seat}}</div>
            </td>
        </tr>
    </table>
    <button (click)="openDialog()" id="submitButton">Book Seat</button>
</div> -->