<!-- <h1>book works!</h1> -->
<div class="wrapper">
    
    
    <div class="block">
        <h1>Movie Booking Application</h1>
        <h2>Book Tickets</h2>
        <form [formGroup]="bookForm" (ngSubmit)="show()">
           
           <label for="location">Location:</label>  
            <select id="location" formControlName="location" class="inp" (change)='onChangeLocation()' >  
                <option disabled>Select Location</option>  
                <option>Choose Location</option>  
                <option *ngFor="let loc of locationList">{{loc}}</option>  
            </select>  

            <label for="movie">Movie:</label>  
            <select id="movie" formControlName="movie" class="inp">  
                <option disabled>Select Movie</option>  
                <option>Choose Movie</option>  
                <option *ngFor="let mov of movieList">{{mov}}</option>  
            </select>
            <!-- <h1>List</h1> -->
            <!-- <ul *ngFor="let list of result">

            <li>Theatre: {{ list.cinema }}
            Show: {{ list.showtime }}
            <button [routerLink]="/select" [queryParams]="{cinemaId:list.cinemaId,showId:list._id}">Book</button>
        </li>
            </ul> -->
            <!-- <p>{{result}}</p> -->
           <div class="btns">
           <button [disabled]="!bookForm.valid" >Show Theaters</button>
           <!-- <button (click)="goToRegister()">SIGN UP</button> -->
           </div>
           <!-- <a href="" class="forgot">Forgot Password</a> -->
       </form>

    </div>
</div>
