<!-- 
<div class="wrapper">
    
    
    <div class="block">
        <h1>Movie Booking Application</h1>
        <h2>Book Tickets</h2>
        <form [formGroup]="bookForm" (ngSubmit)="show()">
           
           <label for="location">Location:</label>  
            <select id="location" formControlName="location" class="inp" (change)='onChangeLocation()' >  
                <option disabled>Select Location</option>  
                <option>Choose Location</option>  
                <option *ngFor="let loc of locationList">{{loc}}</option>  
            </select>  

            <label for="movie">Movie:</label>  
            <select id="movie" formControlName="movie" class="inp">  
                <option disabled>Select Movie</option>  
                <option>Choose Movie</option>  
                <option *ngFor="let mov of movieList">{{mov}}</option>  
            </select>

           <div class="btns">
           <button [disabled]="!bookForm.valid" >Show Theaters</button>

           </div>

       </form>

    </div>
</div> -->
