<!-- <h1 style="text-align: center;">Movie Ticket Booking Application</h1> -->
<!-- <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">SignUp</a>
</nav> -->
<app-navbar></app-navbar>
<!-- <router-outlet></router-outlet> -->

<!-- <div class="root-container">
    <app-top-nav (sidenavToggle)="sidenav.toggle()"></app-top-nav>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav fxHide.gt-sm>
            <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> -->