<!-- <p>admin works!</p>
<button (click)="getAllLocations()">Get all locations</button>
<ul *ngFor="let list of locationList">
    <li> {{ list.city }}</li>
</ul>
<button (click)="getAllMovies()">Get all movies</button>
<ul *ngFor="let list of movieList">
    <li> {{ list.title }} : {{list.language}} : {{list.genre}}</li>
</ul>
<button (click)="getAllCinemas()">Get all Cinemas</button>
<ul *ngFor="let list of cinemaList">
    <li> {{ list.name }} : {{list.ticketPrice}} : {{list.city}}</li>
</ul>
<button (click)="getAllShows()">Get all shows</button>
<ul *ngFor="let list of showList">
    <li> {{ list.startAt }} : {{ list.title }} : {{ list.name }} : {{list.ticketPrice}} : {{list.city}}</li>
</ul> -->
<!-- demo -->
