<!-- <p>admin works!</p>
<button (click)="getAllLocations()">Get all locations</button>
<ul *ngFor="let list of locationList">
    <li> {{ list.city }}</li>
</ul>
<button (click)="getAllMovies()">Get all movies</button>
<ul *ngFor="let list of movieList">
    <li> {{ list.title }} : {{list.language}} : {{list.genre}}</li>
</ul>
<button (click)="getAllCinemas()">Get all Cinemas</button>
<ul *ngFor="let list of cinemaList">
    <li> {{ list.name }} : {{list.ticketPrice}} : {{list.city}}</li>
</ul>
<button (click)="getAllShows()">Get all shows</button>
<ul *ngFor="let list of showList">
    <li> {{ list.startAt }} : {{ list.title }} : {{ list.name }} : {{list.ticketPrice}} : {{list.city}}</li>
</ul> -->
<!-- demo -->

<!-- <img src="https://img.wallpapersafari.com/desktop/1024/576/73/59/V06ozM.jpg" alt="image"> -->
<div >
    <img src="https://img.wallpapersafari.com/desktop/1024/576/73/59/V06ozM.jpg" alt="image">
    <h4>Welcome to BookMySeats, {{name}}</h4>
</div>
<!-- <h4>Welcome to BookMySeats, {{name}}</h4> -->
<!-- <h4 *ngIf="role!='admin'">Please Proceed to Book Tickets</h4> -->
<!-- <div class="back">
    <h2>Welcome to BookMySeats, {{name}}</h2>
    <h4 *ngIf="role!='admin'">Please Proceed to Book Tickets</h4>

    
</div> -->