<!-- <p>show works!</p> -->
<form [formGroup]="showForm" (ngSubmit)="addshow()">
    <h2>Show</h2>
    <!-- <input type="text" placeholder="Enter show name" class="inp" formControlName="startAt"/> -->

            <label for="startAt">StartAt:</label>  
            <select id="startAt" formControlName="startAt" class="inp">  
                <option disabled>Select Start Time</option>  
                <option>Choose Start Time</option>  
                <option *ngFor="let loc of showNameList">{{loc}}</option>  
            </select>

            <label for="movie">Movie:</label>  
            <select id="movie" formControlName="movieId" class="inp">  
                <option disabled>Select Movie Name</option>  
                <option>Choose Movie Name</option>  
                <option *ngFor="let loc of movieList">{{loc}}</option>  
            </select>
            <label for="cinema">Cinema:</label>  
            <select id="cinema" formControlName="cinemaId" class="inp">  
                <option disabled>Select Cinema Name</option>  
                <option>Choose Cinema Name</option>  
                <option *ngFor="let loc of cinemaList">{{loc}}</option>  
            </select>        


    <!-- <input type="text" placeholder="Enter movie id" class="inp" formControlName="movieId"/> -->
    <!-- <input type="text" placeholder="Enter cinema id" class="inp" formControlName="cinemaId"/> -->
    <input type="text" placeholder="Enter city id" class="inp" formControlName="cityId"/>
    <div class="btns">
    <!-- <button (click)="goToLogin()">Add Location</button> -->
    <button [disabled]="!showForm.valid">Add Movie</button>
    </div>
</form>
<!-- <button (click)="getAllShows()">Get all Shows</button> -->
<ul *ngFor="let list of showList">
    <li> {{ list.startAt }} : {{list.title}} : {{list.name}} : {{list.ticketPrice}} : {{list.city}}</li>
</ul>