.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  padding: 30px;
}
/* body{
display: flex;
flex-direction: column;
align-items: center;
} */
button{
background: reverse;
color: black;
padding: 10px 15px;
font-size: 15px;
width: 150px;
text-align: center;
margin:0 25px;

}
/* .block{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 350px;
width: 320px;
padding: 10px;
border: 1px solid gray;
} */
button:disabled{
background: gray;
color:black;
}



/* a */

.block{
  width: 320px;
  padding: 5px;
  border: 1px solid gray;
  background-color: black;
  height: fit-content;
}
h1{
  color: #fa255e;
  margin: 0px;
  padding: 10px;
}
form{
width: 95%;
/* margin: 5px; */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
h3{
  color: #fa255e;
/* color: black; */
font-weight: 500;
font-family: sans-serif;
}
    .inp{
      padding: 10px 10px;
      margin: 10px;
      width: 80%;
     
    }
    .btns{
      padding: 10px;
        display: flex;
        width: 100%;
    }
    .forgot{
      padding: 10px;
    }



 
